@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Inter', sans-serif;
}

/* For small screens (phones) */
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px;
  }
}

/* For medium screens (tablets) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  body {
    font-size: 16px;
  }
}

/* For large screens (desktops) */
@media only screen and (min-width: 1025px) {
  body {
    font-size: 18px;
  }
}